.orange {
  color: orange;
}

.grey {
  color: #666;
}
.lightGrey {
  color: rgb(202, 202, 202);
}
.darkGrey {
  color: #333;
}

.blue {
  color: rgb(121, 171, 193);
}

.snowBlue {
  color: rgb(40, 172, 225);
}

.red {
  color: rgb(228, 117, 117);
}